In [28]:
# notebooks/example_notebook.ipynb

import sys
import os
import pandas as pd
from scipy import stats
sys.path.append(os.path.abspath('../scripts'))

In [29]:
from AB_testing import save_insurance_data_to_csv

In [30]:
# Load the data 
df = pd.read_csv('../data/Cleaned_insurance_data.csv')

# Display the first few rows of the DataFrame
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,TransactionMonthFormatted
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,2015-03
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,2015-05
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,2015-07
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,2.179737,0.0,2015-05
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,2015-07

In [31]:
df.shape

(999546, 50)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999546 entries, 0 to 999545
Data columns (total 50 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   UnderwrittenCoverID        999546 non-null  int64
 1   PolicyID                   999546 non-null  int64
 2   TransactionMonth           999546 non-null  object
 3   IsVATRegistered            999546 non-null  bool
 4   Citizenship                999546 non-null  object
 5   LegalType                  999546 non-null  object
 6   Title                      999546 non-null  object
 7   Language                   999546 non-null  object
 8   Bank                       999546 non-null  object
 9   AccountType                999546 non-null  object
 10  MaritalStatus              999546 non-null  object
 11  Gender                     999546 non-null  object
 12  Country                    999546 non-null  object
 13  Province                   999546 non-null  object
 14  PostalCode                 999546 non-null  int64
 15  MainCrestaZone             999546 non-null  object
 16  SubCrestaZone              999546 non-null  object
 17  ItemType                   999546 non-null  object
 18  mmcode                     999546 non-null  float64
 19  VehicleType                999546 non-null  object
 20  RegistrationYear           999546 non-null  int64
 21  make                       999546 non-null  object
 22  Model                      999546 non-null  object
 23  Cylinders                  999546 non-null  float64
 24  cubiccapacity              999546 non-null  float64
 25  kilowatts                  999546 non-null  float64
 26  bodytype                   999546 non-null  object
 27  NumberOfDoors              999546 non-null  float64
 28  VehicleIntroDate           951337 non-null  object
 29  AlarmImmobiliser           999546 non-null  object
 30  TrackingDevice             999546 non-null  object
 31  CapitalOutstanding         999546 non-null  float64
 32  NewVehicle                 999546 non-null  object
 33  WrittenOff                 999546 non-null  object
 34  Rebuilt                    999546 non-null  object
 35  Converted                  999546 non-null  object
 36  SumInsured                 999546 non-null  float64
 37  TermFrequency              999546 non-null  object
 38  CalculatedPremiumPerTerm   999546 non-null  float64
 39  ExcessSelected             999546 non-null  object
 40  CoverCategory              999546 non-null  object
 41  CoverType                  999546 non-null  object
 42  CoverGroup                 999546 non-null  object
 43  Section                    999546 non-null  object
 44  Product                    999546 non-null  object
 45  StatutoryClass             999546 non-null  object
 46  StatutoryRiskType          999546 non-null  object
 47  TotalPremium               999546 non-null  float64
 48  TotalClaims                999546 non-null  float64
 49  TransactionMonthFormatted  999546 non-null  object
dtypes: bool(1), float64(10), int64(4), object(35)
memory usage: 374.6+ MB

In [33]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [34]:
# Define your groups (A and B)
group_a = df[df['Gender'] == 'Male']['TotalClaims']
group_b = df[df['Gender'] == 'Female']['TotalClaims']

In [35]:
# Perform an independent t-test
t_stat, p_value = stats.ttest_ind(group_a, group_b, nan_policy='omit')

# Print the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 1.3539418054822858
P-value: 0.17575525074495052

In [36]:
# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis: No significant difference between the groups.")

Fail to reject the null hypothesis: No significant difference between the groups.